<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
    <span *ngFor="let child of items">
      <!-- Handle branch node menu items -->
      <span *ngIf="child.subitms">
        <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
          <mat-icon>{{child.imageurl}}</mat-icon>
          <span>{{child.definition}}</span>
        </button>
        <app-menu-item #menu [items]="child.subitms"></app-menu-item>
      </span>
      <!-- Handle leaf node menu items -->
      <span *ngIf="!child.subitms ">
        <button mat-menu-item [routerLink]="child.routeurl" (click)="navOpen()">
            <mat-icon>{{child.imageurl}}</mat-icon>
            <span>{{child.definition}}</span>
        </button>
      </span>
    </span>
  </mat-menu>