
.fullscreen {
    position:initial !important;
    height: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  
  }

  .container{
      min-width: 450px;
      min-height: 450px;
  }
  .datatable{
      max-width: 450px;
      width: 400px;
  }